@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td { font-family: "Microsoft Yahei"; margin: 0; padding: 0;}

body, button, input, select, textarea { outline: medium none;}

h1, h2, h3, h4, h5, h6, small { font-size: 100%;}

a { color: #666; cursor: pointer; outline: 0 none; text-decoration: none;}

img { border: 0 none; vertical-align: bottom;}

li { list-style: outside none none;}

table { border-collapse: collapse; border-spacing: 0;}

i, em { font-style: normal;}

.clearfix::after { clear: both; content: ""; display: table;}

.clearfix {clear: both;}

.clear { zoom: 1;}

.clear:after { display: block; clear: both; content: '';}