@charset "utf-8";
@import "public";
.main{
	padding-bottom: 500px;
	    background: url(../img/products/bg-cols-b3.jpg) no-repeat scroll center bottom;
}
.titImg{
	background: url(../img/index/bg-navs-border.png) repeat-x -3px top;
	width:100%;
	height:360px;
	overflow:hidden;
}
.titImg img{
	position:relative;
	left:50%;
	transform:translateX(-50%);
	max-height:140%;
	z-index:-1;
}
.productsTit{
	width:1200px;
	height:140px;
	margin:0 auto 20px;
	background:url(../img/products/BGGD/bg-prod-tit.jpg);

}
.shops h3{
	color:#f60;
	font-size:30px;
	border-bottom:1px solid #orange;
}
.shops hr{
	border:none;
	width:17px;
	height:3px;
	background:#000;
}
.shops p{
	color:#f60;
	font-size:13px;
}