/*首页样式*/
@charset "utf-8";
/*引入公共样式*/
@import "public";

/*session区域*/
.session{
	width: 100%;
	background:#f04e28;
	height: 100%;
	box-sizing:border-box;
	padding-top: 90px;
	padding-bottom: 60px;
}
.session-cen{
	width:1200px;
	// height:505px;
	height: 100%;
	margin:0 auto;
	background-color:#f04e28;
	background-image:url(../img/index/bg-home-bd.png);
	background-repeat:no-repeat;
	background-size:auto 100%;
	background-position:center top;
}
/*轮播图盒子*/
.silderBox{
	width:220px;
	height:150px;
	position:absolute;
	left:740px;
	top:420px;
	background-image:url(../img/index/bg-home-board.png);
	background-position:center top;
	background-size:100% 100%;
	overflow:hidden;
}
.slider{
	margin-top:5px;
	margin-left:4px;
	width:211px;
	height:140px;
}

/*footer区域*/
footer{
	width: 100%;
	height:35px;
	padding-top:25px;
	text-align:center;
	background-color:#dedede;
	background-image:url(../img/index/bg-footer-border.png);
	background-repeat:repeat-x;
	background-position:0 top;
	position: absolute;
	bottom: 0;
}