@charset "utf-8";
@import "public";
/*session*/
.session{
	background:#f04e28;
}
.session-cen{
	width:1200px;
	height:505px;
	margin:0 auto;
	background-color:#f04e28;
	background-image:url(../img/index/bg-home-bd.png);
	background-repeat:no-repeat;
	background-size:900px auto;
	background-position:center top;
}
.silderBox{
	width:220px;
	height:150px;
	position:absolute;
	left:740px;
	top:420px;
	background-image:url(../img/index/bg-home-board.png);
	background-position:center top;
	background-size:100% 100%;
	overflow:hidden;
}
.slider{
	margin-top:5px;
	margin-left:4px;
	width:211px;
	height:140px;
}
/*footer*/
footer{
	height:35px;
	padding-top:25px;
	text-align:center;
	background-color:#dedede;
	background-image:url(../img/index/bg-footer-border.png);
	background-repeat:repeat-x;
	background-position:0 top;
}